<p id="notice"><%= notice %></p>
<br><br>
<div class="fl w-50 tc">

<p>
  <strong class="f5 ph2 pv2">Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong class="f5 ph2 pv2">Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong class="f5 ph2 pv2">Price:</strong>
  <%= @food.price %>
</p>


<p>
  <strong class="f5 ph2 pv1">Vegetarian:</strong>
  <%= @food.vegetarian %>
</p>

<p>
  <strong class="f5 ph2 pv1">Description:</strong>
  <%= @food.description %>
</p>
</div>
<div class="fl w-50 tc">
  <br>
  <p>
    <img src="<%= @food.src %>" alt="product image" height="300px" width="300px">
  </p>
</div>

<%= link_to 'Back', foods_path %>
