<p id="notice"><%= notice %></p>

<h1>Product Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outers.each do |outer| %>
      <tr>
        <td><%= outer.name %></td>
        <td><%= link_to 'Show', outer %></td>
        <% if current_user.id == 1 %>
        <td><%= link_to 'Edit', edit_outer_path(outer) %></td>
        <td><%= link_to 'Destroy', outer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.id == 1 %>
<%= link_to 'New Outer', new_outer_path %>
<% end %>
