<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outer.name %>
</p>

<p>
  <% if @outer.name == "Food" %>
  <%= link_to 'All Products', foods_path %>
  <% elsif @outer.name == "Home" %>
  <%= link_to 'All Products', homes_path %>
  <% elsif @outer.name == "Clothing" %>
  <%= link_to 'All Products', clothings_path %>
  <% end %>

</p>

<p>
  <strong>User:</strong>
  <%= @outer.user_id %>
</p>
<% if current_user.id == 1 %>
<%= link_to 'Edit', edit_outer_path(@outer) %>
<% end %>
<%= link_to 'Back', outers_path %>
