<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @c_lothing.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @c_lothing.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @c_lothing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @c_lothing.description %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @c_lothing.colour %>
</p>

<p>
  <strong>Size:</strong>
  <%= @c_lothing.size %>
</p>

<p>
  <strong>Outer:</strong>
  <%= @c_lothing.outer_id %>
</p>

<%= link_to 'Edit', edit_c_lothing_path(@c_lothing) %> |
<%= link_to 'Back', c_lothings_path %>
